body {
  /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw) */
  font-family: 'Wix Madefor Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27374D;
  color:#DDE6ED;
}

button {
  font-family: 'Wix Madefor Display', sans-serif;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 15px;
  background: #9DB2BF;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  outline: none;
  border: none;
}

button:hover {
  background: #526D82;
  background-image: -webkit-linear-gradient(top, #526D82, #526D82);
  background-image: -moz-linear-gradient(top, #526D82, #526D82);
  background-image: -ms-linear-gradient(top, #526D82, #526D82);
  background-image: -o-linear-gradient(top, #526D82, #526D82);
  background-image: linear-gradient(to bottom, #526D82, #526D82);
  text-decoration: none;
  outline: none;
  border: none;
}

#login {
  text-align: center;
  margin: 5% 0;
}

#setupOptions {
  text-align: center;
}

#playagaindiv {
  text-align: center;
}


.container {
  width: min(65ch,100% - 4rem);
  justify-content: center;
  display: flex;
  align-items: center;
}



.gridenemy, .gridplayer, .gridsetup {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  column-gap: 1px;
  row-gap: 1px;
  max-width: 391px;
  max-height: 391px;
}

.gridenemy > div, .gridplayer > div, .gridsetup > div {
  border: 2px solid;
  height: 35px;
  width: 35px;
}

.gridenemy > div:hover {
  filter: brightness(0.8); 
  /* transform: scale(0.8);
  transition: transform 100ms ease-in;
  border-top-color: darkgrey; */
}

.hide {
  display: none;
}

#shipsToBeDeployed > div {
  border: 2px solid;
  vertical-align: middle;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  width: 391px;
}

.gridsetup > div:hover {
  filter: brightness(0.8); 
  }

.lenshover {
  filter: brightness(0.8); 
}


#game>h1 {
  color: #7C989F;
  font-weight: 900;
}

#errorMessage {
  color: red;
  /* height: 40px; */
  max-width: 391px;
}

#turnMessage {
  height: 70px;
  max-width: 391px;
}

#winMessage {
  max-width: 391px;
}

#game > h1,h3 {
  text-align: center;
}

#playersetup > h1,h3 {
  text-align: center;
}

#startscreen > h1 {
  text-align: center;
}

#startscreen > h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5rem;
  margin: 5% 0%;
}



